<h1>Hello</h1>
<!-- <a *ngIf="streamNode" routerLink="/load-video/{{streamtrack}}">load video</a> -->
<!-- <video id="video" autoplay></video> -->
    
    <p><button id="start" (click)="startCapture()">Start Capture</button>&nbsp;<button id="stop" (click)="stopCapture()">Stop Capture</button></p>
    
    <video #video id="video" autoplay [muted]="true"></video><br>

    <audio  #audio  ></audio>
<router-outlet></router-outlet>
<!-- <app-loapad-video *ngIf="streamNode" [stream]="streamNode.stream.getAudioTracks()"></app-load-video> -->
<app-load-video *ngIf="streamNode" [stream]="streamNode.stream.getAudioTracks()"></app-load-video>